<h1>Welcome to the Network20q Social Search App</h1>
<h2>We will use the class' social graph to evaluate the effectiveness of social search or a social Q&A forum.
</h2>
<h4>
You will need to login with your Facebook credentials to partitcipate. We will not use any of your data or post anything to your wall. We just need the class social graph</h4>
<%= form_tag("/experiment2/index", :method => "get") do %>
    <%= submit_tag("Participate in the experiment", 
                    options = {:style => "width: 200px; background-color: #ABABAB; color: #000000; "}) %>
<% end %>
<br/>
<br/>
