<h1>Welcome to the Network20q Facebook App</h1>
<h2>We will be using this app to run various social networking experiments related to the course.</h2>
<h4>Check out the experiments</h4>
<%= form_tag("/home/welcome", :method => "get") do %>
    <%= submit_tag("Participate in the experiments") %>
<% end %>
<br/>
<br/>
